<IfModule mod_rewrite.c>
  RewriteEngine On

  # taxa/Dinophysis.json or taxa/Dinophysis/$part.json
  RewriteRule ^taxa/([^/]+)(?:/([^/]+))?\.json$ /index.php?cmd=taxon&name=$1&part=$2 [QSA,L]
  # taxa.json
  RewriteRule ^taxa\.json$ /index.php?cmd=taxon-list [QSA,L]
  # media/artists.json
  RewriteRule ^media/artists\.json$ /index.php?cmd=artist-list [QSA,L]
  # media/Dinophysis acuta_1.gif.json
  RewriteRule ^media/([^/]+)\.json$ /index.php?cmd=media&media_id=$1 [QSA,L]
  # media.json
  RewriteRule ^media\.json$ /index.php?cmd=media-list [QSA,L]
  # settings.json or settings/$key.json
  RewriteRule ^settings(?:/([^/]+))?\.json index.php?cmd=setting&key=$1 [QSA,L]
  
  # Deny access to hidden directories such as .git, .svn, etc.
  RewriteRule "(^|/)\." - [F]
</IfModule>